

.blue {
  background-color: black;
  color: white;
  height: 100px;
  margin-top: 30px;
  margin-left: 60px;
  margin-right: 18%;
}

.blue2 {
  background-color: black;
  color: white;
  height: 30px;
  margin-top: 60px;
  margin-left: 30px;
}

.red {
  height:500px;
  color: white;
  background-color: black;
  margin-top: 40px;
  margin-left: 60px;
}

.green {
  background-color: black;
  color: white;
  height: 20px;
  margin-top: 60px;
  margin-left: 60px;
  margin-bottom: 40px;
}

.yellow {
  background-color: black;
  color: white;
  height: 200px;
  margin-left: 60px;
  margin-right: 13%;
  margin-bottom: 50px;
}


.yellow2 {
  background-color: black;
  color: white;
  height: 200px;
  margin-left: 80px;
  margin-bottom: 50px;
}
